/* size of  emoticons, tittles, subtittles and text */
/* font of letters */
/* color of text, backgrounds, text, tittle, subtittle */
/* size of  emoticons, tittles, subtittles and text */
/* font of letters */
/* color of text, backgrounds, text, tittle, subtittle */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 809px) {
  .servicies_container {
    color: #49166B;
    font-size: 16px;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #E6F5F5;
    /* not  funciona */
  }
  .servicies_container .emoticons_servicies {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 0;
    padding: 10px;
  }
  .servicies_container .emoticons_servicies img {
    width: 60px;
    height: 60px;
  }
  .servicies_container .subtittle {
    text-align: center;
    font-size: Arial;
  }
  .servicies_container .image_servicios_wrapper {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
  }
  .servicies_container .image_servicios_wrapper img {
    width: 300px;
    height: 200px;
  }
  .servicies_container .prices_servicies {
    color: blue;
  }
  .servicies_container .text_servicie_wrapper p {
    text-align: left;
    padding: 20px;
  }
  .servicies_container .button_servicies_wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
  .servicies_container .button_servicies_wrapper .button_servicies {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #308D7C;
  }
}

@media (min-width: 810px) {
  .servicies_container {
    background-color: #E6F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 100%;
  }
  .servicies_container .container_images_servicies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .servicies_container .container_images_servicies .emoticons_servicies {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 0;
    padding: 10px;
  }
  .servicies_container .container_images_servicies .emoticons_servicies img {
    width: 60px;
    height: 60px;
  }
  .servicies_container .container_images_servicies .subtittle {
    text-align: center;
    font-size: Arial;
    position: absolute;
    left: 440px;
    top: 50px;
  }
  .servicies_container .container_images_servicies .image_servicios_wrapper {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
  }
  .servicies_container .container_images_servicies .image_servicios_wrapper img {
    width: 100%;
    height: auto;
  }
  .servicies_container .container_info_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .servicies_container .container_info_cards .prices_servicies {
    color: green;
  }
  .servicies_container .container_info_cards .button_servicies_wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
  .servicies_container .container_info_cards .button_servicies_wrapper .button_servicies {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #308D7C;
  }
}
/*# sourceMappingURL=index.css.map */