//variables
@import '../variables/_variables.scss';
//boton
@import './_boton.scss';

@mixin emoticon($width, $height) {
    width: $width ;
    height: $height;

    border: 1px solid black;
}

@mixin card_image($width, $height) {
    width: $width ;
    height: $height;
}

@mixin text {
    text-align: left;
    padding: 20px;
}

@mixin card($width:100%, $height:auto) {

    color: $color_text;
    font-size: $size_text;
    

    width: $width;
    height: $height;

    background-color: $color_backgrounds_cards;

    
}
