@include phone{
    .servicies_container{
        @include card;

        .emoticons_servicies{
            @include emoticon_wrapper(60px, 60px);
            margin: 0;
            padding: 10px;

            img{
                @include emoticon(60px, 60px);
            }
        }

        .subtittle{
            @include subtittle;
        }

        .image_servicios_wrapper{
            @include card_image(300px, 200px);
            border: 1px solid black;
            margin: 0 auto;

            img{
                @include emoticon(300px, 200px)
            }
        }

        .text_servicie_wrapper p{
            @include text
        }

        .button_servicies_wrapper{
            
            text-align: center;
            
            margin-bottom: 20px;
            .button_servicies{
                
                @include boton(120px, 50px, 10px);
                
            }
        }
        
    }
    
}
