/* size of  emoticons, tittles, subtittles and text */
$size_tittle: 16px;
$size_subtittle:15px;
$size_text:16px;

/* color of text, backgrounds */
$color_text: purple;
$color_backgrounds_cards: green;
