


    /* size of  emoticons, tittles, subtittles and text */
    $size_tittle: 16px;
    $size_subtittle:14px;
    $size_text:16px;

    /* font of letters */
    $font_tittle: Arial;
    $font_text: Arial;



    /* color of text, backgrounds, text, tittle, subtittle */
    $color_text: #49166B;
    
    $color_backgrounds_cards: #E6F5F5;
    $color_backgrounds_buttons: #308D7C;


